body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
}

#game-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#game {
    font-family: monospace;
    white-space: pre;
    border: 1px solid #fff;
    padding: 10px;
}

#player-info {
    font-family: monospace;
    white-space: pre;
    border: 1px solid #fff;
    padding: 10px;
    margin-left: 20px;
}

#log {
    margin-top: 10px;
    white-space: pre-wrap;
    height:100px;
    overflow:auto;
}

.red {
    color: red;
}
